.App-header {
  background-color: #282c34;
  height: 40px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(14px + 2vmin);
  color: white;
}
.App-header button {
  color: #fff;
}
.App-body {
  margin: 16px;
}
